<!-- <p>notes works!</p> -->
<section class="container">

<div class="notes">
    <div class="title">
        <h1 class="mat-display-2">My Scribbles</h1>
       
    </div>
    <mat-divider></mat-divider>
    <div class="search-bar">

    </div>
    <div class="notes-container masonry-layout">
    <mat-card class="example-card" *ngFor="let note of notes">
        <mat-card-header>
          <mat-card-title> 
           <h3>{{ note.title }}</h3>
        </mat-card-title>
          <mat-card-subtitle>Created On: {{ note.createdAt | date:'dd/MM/yyyy' }}</mat-card-subtitle>
          
        </mat-card-header>
       
        <mat-card-content>
           
          <p class="mat-body note-description">
            {{ note.description }}
          </p>
          
          <mat-list>
            <mat-list-item>
              <mat-icon mat-list-icon>calendar_today</mat-icon>
              <div mat-line class="duedate">
                
                <strong>Due by: </strong>
                <span>{{ note.dueDate |  date:'dd/MM/yyyy'}}</span>
              </div>
              
            </mat-list-item>
            
          </mat-list>
          <div class="card-bottom">
            <mat-chip-list style="text-align: center;">  
                <mat-chip>
                {{ note.priority | titlecase }}
                </mat-chip>
                <mat-chip>
                    {{ note.status | titlecase }}
                </mat-chip>
            </mat-chip-list>
                <div class="card-actions">
                    <button mat-mini-fab color="primary" (click)="openEditDialog(note)" class="action-button"><mat-icon>edit</mat-icon></button>
                    <button mat-mini-fab color="primary" (click)="openDeleteDialog(note.id)" class="action-button"><mat-icon>delete_outline</mat-icon></button>
                </div>    
            </div>
        </mat-card-content>

    </mat-card>

    <!-- <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title> 
           <h3>My Sample Note Lorem ipsum dolor sit amet</h3>
        </mat-card-title>
          <mat-card-subtitle>Created On: 20/5/2020</mat-card-subtitle>
          
        </mat-card-header>
       
        <mat-card-content>
           
          <p style="text-align: justify;">
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
          <mat-list>
            <mat-list-item>
              <mat-icon mat-list-icon>schedule</mat-icon>
              <div mat-line><strong>Due by: </strong><span>25/5/2020</span></div>
            </mat-list-item>
            
          </mat-list>
          <mat-chip-list>  
            <mat-chip>
                High
            </mat-chip>
            <mat-chip>
                Completed
            </mat-chip>
            </mat-chip-list>
        </mat-card-content>
    </mat-card>

    <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title> 
           <h3>My Sample Note Lorem ipsum dolor sit amet</h3>
        </mat-card-title>
          <mat-card-subtitle>Created On: 20/5/2020</mat-card-subtitle>
          
        </mat-card-header>
       
        <mat-card-content>
           
          <p style="text-align: justify;">
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
          <mat-list>
            <mat-list-item>
              <mat-icon mat-list-icon>schedule</mat-icon>
              <div mat-line><strong>Due by: </strong><span>25/5/2020</span></div>
            </mat-list-item>
            
          </mat-list>
          <mat-chip-list>  
            <mat-chip>
                High
            </mat-chip>
            <mat-chip>
                OnGoing
            </mat-chip>
            </mat-chip-list>
          
        </mat-card-content>
    </mat-card>

    <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title> 
           <h3>My Sample Note Lorem ipsum dolor sit amet</h3>
        </mat-card-title>
          <mat-card-subtitle>Created On: 20/5/2020</mat-card-subtitle>
          
        </mat-card-header>
       
        <mat-card-content>
           
          <p style="text-align: justify;">
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
          <mat-list>
            <mat-list-item>
              <mat-icon mat-list-icon>schedule</mat-icon>
              <div mat-line><strong>Due by: </strong><span>25/5/2020</span></div>
            </mat-list-item>
            
          </mat-list>
          <mat-chip-list>  
            <mat-chip>
                High
            </mat-chip>
            <mat-chip>
                OnGoing
            </mat-chip>
            </mat-chip-list>
        </mat-card-content>
    </mat-card> -->
    </div>
</div>

</section>