.example-card {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    max-height: 280px;
    min-height: 100px;
}

.container {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid red; */
    
}
  
.due {
    border: 1px solid blue;
    border-radius: 5px;
    background-color: aliceblue;
}

.schedule-icon {
    margin-top: 5px;
}

.title {
    text-align: center;
    padding-bottom: 10px;
}

.notes {
    padding-top: 40px;
    padding-bottom: 40px;
}

.notes-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    /* grid-template-rows: auto; 
    grid-auto-rows: auto; */
    grid-template-rows: repeat(2, minmax(200px, auto));
    
  
}    

.note-description {
    word-wrap: break-word;
}

mat-divider {
    padding-bottom: 30px;
}
  
mat-list-item {
    display: inline-block;
    height: auto;
    width: auto;
}

mat-chip-list {
    /* /* display: grid; */
    display: grid;
    /* grid-template-columns: auto auto auto; */ 
}
.card-bottom {
    display: flex;
    margin-bottom: auto;
}

.card-actions {
    margin-left: auto;
    margin-right: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.action-button {
    margin: 0px 2px 2px 2px;
}

.calendar-icon {
    margin-top: 10px;
    margin-right: 5px;
}

.duedate {
    margin-bottom: 10px;
}

.pagination {
    display: flex;
    justify-content: center;
}

.page-number {
    margin-top: 5px
}

.prev {
    margin-right: 10px;
}

.next {
    margin-left: 10px;
}

.notes-empty {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}