<mat-sidenav-container class="sidenav-container" [ngClass]="{'dark-theme': isDarkTheme | async}">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item (click)="routeFunction('home')"><span class="nav-list-icon"><mat-icon>collections_bookmark</mat-icon></span>My Scribbles</a>
      <a mat-list-item (click)="routeFunction('home/about')"><span class="nav-list-icon"><mat-icon>info</mat-icon></span>About</a>
      <a mat-list-item (click)="routeFunction('home/scribbles/add')"><span class="nav-list-icon"><mat-icon>note_add</mat-icon></span>Add Scribble</a>
      <a mat-list-item (click)="routeFunction('home/scribbles/archive')"><span class="nav-list-icon"><mat-icon>archive</mat-icon></span>Archive</a>
      <a mat-list-item> 
        <mat-slide-toggle
        class="example-margin"
        [checked]="isDarkTheme | async" (change)="toggleDarkTheme($event.checked)"
       >
        Dark Theme
        </mat-slide-toggle>
      </a>
      <a mat-list-item (click)="logout()"><span class="nav-list-icon"><mat-icon>exit_to_app</mat-icon></span>Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        >
        
        <mat-icon aria-label="Side nav toggle icon" *ngIf="!drawer.opened; else elseBlock">menu</mat-icon>
        <ng-template #elseBlock><mat-icon aria-label="Side nav toggle icon">keyboard_arrow_left</mat-icon></ng-template>
     
      </button>
      <span>Scribble</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <div class="mat-app-background" style="min-height: 95vh;
    display: flex;
    flex-direction: column;">
      <router-outlet></router-outlet>
    </div>
    
  </mat-sidenav-content>
</mat-sidenav-container>
