<!-- <p>about works!</p> -->
<section class="container">
    <h1 class="mat-display-2">Scribble v1.0.0</h1>
    <h1 class="header">
        About this App
    </h1>
    <div class="description">
        <p class="mat-title">
            This app was created by me to learn the basics of JWT and implement containerization(as a refresher).
            It allows users to create, update, delete and filter through their scribbles. I got the idea from the fact that, 
            we all like to 'scribble' when in a boring lecture. So I thought, amidst this boring lockdown period, let me scribble 
            to distract my mind and have some fun!
        </p>
    </div>
    <div class="social">
        <h1 class="header">
            Follow author on social media
        </h1>
        <div class="icons-list" style="display: flex; justify-content:center; margin-top: 20px;">
            <a class="social-link facebook" href="https://www.facebook.com/lakshyajit.laxmikant" target="_blank"><i class="fab fa-facebook-square fa-2x"></i></a>
            <a class="social-link github" href="https://github.com/lakshyajit165" target="_blank"><i class="fab fa-github fa-2x"></i></a>
            <a class="social-link linkedin" href="https://www.linkedin.com/in/lakshyajit/" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
            <a class="social-link instagram" href="https://www.instagram.com/_c0de_r1der_/" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
            <a class="social-link twitter" href="https://twitter.com/LakshyajitL" target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
            <a class="social-link medium" href="https://medium.com/@lakshyajit165" target="_blank"><i class="fab fa-medium fa-2x"></i></a>
        </div>
    </div>
</section>